.gallery {
    margin: 0px 0;
}

.gallery img {
    object-fit: cover; 
    object-position: center;
    width: 100%;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }

  .column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
  }