header {
    position: sticky;
    top: 0px;
    border-bottom: 3px solid #c4c4c4;
}

nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 40px;
    padding: 8px;
    background-color:  #ffffff;
    z-index: 1000;
}

/* nav a{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-decoration: none;
    padding: 10px;
    display: block;
    text-align:center;
} */

nav a{
    color: white;
    text-align:center;
    word-wrap: normal;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-color:  #a9a9a9;
    display: block;
    border-radius: 10px;
    border: 1px solid;
    border-color: white;
    text-decoration: none;
    width: 150px;
    padding: 8px;
    overflow: visible;
    text-wrap: nowrap;
    transition: 0.3s;
    transition-timing-function: ease-out;
    position: relative;
}

nav a:visited{
    color: rgb(255, 255, 255);
    text-align:center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-color: #d0d0d0;
    display: block;
    border-radius: 10px;
    border: 1px solid;
    border-color: white;
    /* text-decoration: underline white 2px; */
    width: 150px;
    padding: 8px;
    overflow: visible;
    text-wrap: nowrap;
}

nav a:hover{
    color: rgb(255, 255, 255);
    text-align:center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-color:  #c2c2c2;
    display: block;
    border-radius: 10px;
    border: 1px solid;
    border-color: white;
    /* text-decoration: underline white 2px; */
    width: 160px;
    padding: 8px;
    overflow: visible;
    text-wrap: nowrap;
    /* box-shadow: 0 0 10px 10px rgb(255, 0, 0); */
}

nav a::before {
    opacity: 0%;
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-image: linear-gradient(150deg,  #db6980 0%, #dbad69 25%, #8ed882 50%, #69dbd7 75%, #86a1cf  90%);
    filter: blur(10px);
    z-index: -1;
    transition: opacity 0.3s;
}
nav a:hover:before {
opacity: 100%;
}


@media screen and (max-width: 900px) {
    nav {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        gap: 3vw;
        padding: 5px;
        font-size: 2vw;
        background-color:  #ffffff;
    }

    nav a{
        color: white;
        text-align:center;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        background-color:  #a9a9a9;
        display: block;
        border-radius: 10px;
        border: 1px solid;
        border-color: white;
        text-decoration: none;
        width: 18vw;
        padding: 4px;
        overflow: visible;
    }

    nav a:hover{
        color: rgb(255, 255, 255);
        text-align:center;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        background-color:  #c2c2c2;
        display: block;
        border-radius: 10px;
        border: 1px solid;
        border-color: white;
        /* text-decoration: underline white 2px; */
        width: 18vw;
        padding: 4px;
        overflow: visible;
    }
  }

@media screen and (max-width: 600px) {
    nav {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        gap: 3vw;
        padding: 5px;
        font-size: 2.5vw;
        background-color:  #ffffff;
    }

    nav a{
        color: white;
        text-align:center;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        background-color:  #a9a9a9;
        display: block;
        border-radius: 10px;
        border: 1px solid;
        border-color: white;
        text-decoration: none;
        width: 20vw;
        padding: 4px;
        overflow: visible;
    }

    nav a:hover{
        color: rgb(255, 255, 255);
        text-align:center;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        background-color:  #c2c2c2;
        display: block;
        border-radius: 10px;
        border: 1px solid;
        border-color: white;
        /* text-decoration: underline white 2px; */
        width: 20vw;
        padding: 4px;
        overflow: visible;
    }
  }

/* selected link */
a:active {
    color: #4242e6;
    text-decoration: none;
  }

