
.list-of-font-families-used{

    .geo-regular {
        font-family: "Geo", sans-serif;
        font-weight: 400;
        font-style: normal;
      } 
      .geo-regular-italic {
        font-family: "Geo", sans-serif;
        font-weight: 400;
        font-style: italic;
      }

      /* The second pair */
      
.nunito {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 1000; /*range*/
    font-weight: 200;
    font-style: normal;
  }
  .nunito-sans {
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 1000; /*range*/
    font-weight: 200;
    font-style: normal;
    font-variation-settings:
      "wdth" 100,
      "YTLC" 500;
  }

  /* The primary pair */

  
.readex-pro {
    font-family: "Readex Pro", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700; /*range*/
    font-weight: 160;
    font-style: normal;
    font-variation-settings:
      "HEXP" 0;
  }
.work-sans {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900; /*range*/
    font-weight: 100;
    font-style: normal;
  }

  /* The Rest */

  
.rethink-sans {
    font-family: "Rethink Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800; /*range*/
    font-weight: 400;
    font-style: normal;
  }

  
.inter { /* Also a good one */
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900; /*range*/
    font-weight: 100;
    font-style: normal;
  }

  
.montserrat {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900; /*range*/
    font-weight: 100;
    font-style: normal;
  }

  
.rubik {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900; /*range*/
    font-weight: 300;
    font-style: normal;
  }

}

html{
    scroll-behavior: smooth;
}
body{
    /* background-color: #59779b; */
    background-color: #ffffff;
    z-index: -100;
    position: relative;
}

h1{
color: white;
font-size: 15vw;
font-family: "Readex Pro", sans-serif;
font-optical-sizing: auto;
font-weight: 700; /*range*/
font-style: normal;
font-variation-settings:
  "HEXP" 0;
}

p{
    color: white;
    text-align: left;
    font-family: "Nunito", sans-serif;
}

.text-center {text-align: center;}
.text-left {text-align: left;}
.text-right {text-align: right;}


.text-text{
    font-size: 25px;
    font-family: "inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: rgb(183, 0, 255);
}

.title-text{
    font-size: 80px;
    font-family: "Readex Pro", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
      "HEXP" 0;
}

.margin-left-adj{
    margin-left: auto;
}
.margin-right-adj{
    margin-right: auto;
}

h2{ color: white; }
h3{ color: white; }
h4{ color: white; }

.title-adj{
    align-content: center;
    /* text-align: center; */
}

.title-adj1{
    font-size: 55px; text-align: center; color: white;
    }

.title-adj2{
font-size: 3.5vw;
}

.title-adj2 img{
    width: 200px;
    height: 200px;
    }


.fnaf-container {
    border: 25px solid red;
    border-top: 0px;
    border-bottom: 0px;
    border-image: linear-gradient(90deg, rgba(255, 0, 255, 0) 0%, rgb(175, 0, 224) 10%, rgb(175, 0, 224) 90%, rgba(255, 0, 255, 0) 100%) 50 50 50 50 stretch stretch;
    margin: auto;
    background-color: rgba(2, 2, 2, 0.7);
    background-image: linear-gradient(0deg, rgba(2, 2, 2, 0.2) 50%, rgba(13, 13, 13, 0.2) 50%);
    background-size: 10px 10px;
    width: 900px;
}

.layer-container{
    position: relative;
}

.wrap-image{
    float: left;
    width: 150px;
    background: red;
    margin: 40px;
    margin-top: 0px;
    margin-left: 0px;
}


footer {
    bottom: 0px;
    position: relative;
    margin-top: 50px;
    text-align: center;
    padding: 30px;
    background-color: rgb(0, 0, 0);
    bottom: 0px;
    /* position: sticky; */
}

.spacer{
    margin-top: 200px;
}
.spacerb{
    margin-bottom: 120px;
}

.bevel{
    border-style: outset;
    border-style: groove;
    /* border-style: inset;
    border-style: ridge; */
    border-color: rgb(119, 119, 119);
    border-radius: 5px;
    border-width: 6px;
}

.bevel2{
    border-style: outset;
    /* border-style: inset;
    border-style: ridge; */
    border-color: rgb(119, 119, 119);
    border-radius: 5px;
    border-width: 14px;
}

.image-overlay section{
    position: absolute;
    z-index: 2;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    background-color: rgba(2, 2, 2, 0.7);
    opacity: 20%;
    pointer-events: none;
    /* background-image: linear-gradient(0deg, rgb(38, 0, 144) 50%, rgb(142, 0, 0) 50%); */
    background-image: linear-gradient(0deg, rgb(0, 0, 0) 50%, rgb(74, 74, 74) 50%);
    background-size: 5px 5px;
    animation-name: translate;
    animation-duration: 0.1s;
    animation-iteration-count: infinite;
}

.image-overlay img{
position: relative;
z-index: 1;
}

.cool-text{
    background-size: 650px;
    background-position: 50%;
    opacity: 100%;
    background-image: linear-gradient(to top, rgb(234, 213, 255), rgb(128, 0, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.cool-text1:hover{
    background-size: 650px;
    background-position: 50%;
    opacity: 100%;
    background-image: linear-gradient(to top, rgb(234, 213, 255), rgb(128, 0, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.cool-text2{
    background-size: 130%;
    background-position: 50%;
    opacity: 100%;
    background-image: linear-gradient(to right, rgb(238, 0, 255), rgb(128, 0, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.rainbow-gradient{
    position: relative;
}
.rainbow-gradient::before {
    opacity: 0%;
    content: "";
    border-radius: 50px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-image: linear-gradient(150deg,  #db6980 0%, #dbad69 25%, #8ed882 50%, #69dbd7 75%, #86a1cf  90%);
    filter: blur(20px);
    z-index: -1;
    transition: opacity 0.3s;
}
.rainbow-gradient:hover:before {
opacity: 100%;
}

.reveal-prysm{
    animation-name: reveal-prysm;
    animation-duration: 2s;
    /* animation-timeline: scroll(block nearest); */
    animation-timing-function: ease-out;
    transform-origin: center center;
    transform-origin: 50% 50%;
}

@keyframes reveal-prysm {
    0% {opacity: 0%; width: 200px;}
}



/* .border {
    border-image: linear-gradient(to right, #3acfd5 0%, #3a4ed5 100%) 1;
    border-radius: 5px; 
    border-width: 4px;
    border-style: solid;
    padding: 5px;
  } */

/* .fade{
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(0,0,0,1) 60%, rgba(0,0,0,0) 100%);
} */

.gap-1{ gap: 500px; }
.pad-1 { padding: 300px 0px 300px 0px;}
.pad-5t { padding-top: 500px;}
.pad-3t { padding-top: 300px;}
.pad-2t { padding-top: 200px;}
.pad-1t { padding-top: 100px;}
.pad-ht { padding-top: 50px;}
.pad-lt { padding-top: 30px;}
.pad-5b { padding-bottom: 500px;}
.pad-3b { padding-bottom: 300px;}
.pad-2b { padding-bottom: 200px;}
.pad-1b { padding-bottom: 100px;}
.pad-hb { padding-bottom: 50px;}
.pad-lb { padding-bottom: 30px;}
.pad-1s { padding-left: 100px; padding-right: 100px;}
.pad-2s { padding-left: 200px; padding-right: 200px;}
.pad-3s { padding-left: 300px; padding-right: 300px;}
.pad-4s { padding-left: 400px; padding-right: 400px;}
.pad-5s { padding-left: 500px; padding-right: 500px;}
.pad-hs { padding-left: 50px; padding-right: 50px;}
.pad-ls { padding-left: 30px; padding-right: 30px;}
.remove-overflow { overflow: visible; }

@media screen and (max-width: 920px){
    .fnaf-container {
        background-color: rgba(2, 2, 2, 0.7);
        border-left: 8px solid rgb(255, 226, 62);
        border-right: 8px solid rgb(255, 226, 62);
        margin: auto;
        background-color: rgba(2, 2, 2, 0.7);
        background-image: linear-gradient(0deg, rgba(2, 2, 2, 0.2) 50%, rgba(13, 13, 13, 0.2) 50%);
        background-size: 10px 10px;
        width: 100%;
    }

    .title-adj1{
        font-size: 55px; text-align: center; color: white;
        }

    .title-adj2 img{
        width: 150px;
        height: 150px;
        }
}

@media screen and (max-width: 500px){

    .title-adj2 img{
        width: 100px;
        height: 100px;
    }

    .title-adj1{
        font-size: 35px; text-align: center; color: white;
    }
}
@media screen and (max-width: 985px) {
/* 875px */
.margin-left-adj{
    margin-left: auto;
    margin-right: auto;
}
.margin-right-adj{
    margin-right: auto;
    margin-left: auto;
}
.text-center {text-align: center;}
.text-left {text-align: center;}
.text-right {text-align: center;}

}